body {
  color: $black;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

pre, code {
  background-color: $pre-background-color;
  border-radius: $border-radius;
}

hr {
  border: 0;
  border-bottom: $border-width solid $border-color;
}
