.field-light {
  @include elegance;
  background-color: white;
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  color: $grey-2;
  font-weight: $normal-font-weight;
  display: block;
}

.field-light:focus {
  outline: none;
  border-color: $primary;
}

.field-light:disabled {
  color: $grey-4;
  background-color: $darken-2;
}

.field-light:read-only:not(select) {
  background-color: $darken-2;
}

.field-light.is-success {
  border-color: $green;
}

.field-light.is-error {
  border-color: $red;
}
