.primary {
  color: $primary;
}
.bg-primary {
  background-color: $primary;
}
.fill-primary {
  fill: $primary;
}

.accent {
  color: $accent;
}
.bg-accent {
  background-color: $accent;
}
.fill-accent {
  fill: $accent;
}

.red {
  color: $red;
}
.bg-red {
  background-color: $red;
}
.fill-red {
  fill: $red;
}

.green {
  color: $green;
}
.bg-green {
  background-color: $green;
}
.fill-green {
  fill: $green;
}

.white {
  color: #fff;
}
.bg-white {
  background-color: #fff;
}
.fill-white {
  fill: #fff;
}

.grey-4 {
  color: $grey-3;
}
.bg-grey-4 {
  background-color: $grey-4;
}
.fill-grey-4 {
  fill: $grey-4;
}

.grey-3 {
  color: $grey-3;
}
.bg-grey-3 {
  background-color: $grey-3;
}
.fill-grey-3 {
  fill: $grey-3;
}

.grey-2 {
  color: $grey-2;
}
.bg-grey-2 {
  background-color: $grey-2;
}
.fill-grey-2 {
  fill: $grey-2;
}

.grey-1 {
  color: $grey-1;
}

.bg-darken-1 {
  background-color: $darken-1;
}

.bg-darken-2 {
  background-color: $darken-2;
}

.bg-darken-3 {
  background-color: $darken-3;
}

.bg-darken-4 {
  background-color: $darken-4;
}
.fill-darken-4 {
  fill: $darken-4;
}


/* Border Color */

.border-darken-1 {
  border-color: $darken-1;
}

.border-darken-2 {
  border-color: $darken-2;
}

.border-darken-3 {
  border-color: $darken-3;
}

.border-darken-4 {
  border-color: $darken-4;
}

/* Opacity */

.muted {
  opacity: .5;
}
