$h00: 4rem !default;
$h0: 3rem !default;
$h00-responsive: 8vw !default;
$h0-responsive: 6vw !default;
$h1-responsive: 4vw !default;

.h00 { font-size: $h00 }
.h0 {  font-size: $h0 }

@media #{$breakpoint-md} {
  .h00-responsive { font-size: $h00-responsive }
  .h0-responsive {  font-size: $h0-responsive }
  .h1-responsive {  font-size: $h1-responsive }
}
