<nav role="navigation" class="md-flex bg-primary mb2 shadow-2 p2 print-hide">
  <div>
    <%= link_to "Home", root_url, class: "white" %>
  </div>
</nav>

<% unless flash.empty? %>
<% flash.each do |key, value| %>
  <%= react_component("Flash", message: value.to_s, color: key.to_s) %>
<% end %>
<% end %>
