<article class="center p2">
  <h1>Quizzes</h1>
  <p>A new product on <a href="https://assembly.com/quizzes">Assembly</a>.</p>
  <%= link_to "Sign Up", new_teacher_registration_path, class: "button mt1" %>
</article>
