<!DOCTYPE html>
<html>
<head>
  <title>Quizzes</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Open+Sans:400,700">
</head>
<body class="m0">

<%= yield %>

</body>
</html>
